body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.container {
    display: flex;
    gap: 20px;
    background: #dadada;
    padding: 2%;
}

@media (max-width: 800px) {
    .container {
        flex-direction: column;
    }
}

.shopping-list, .summary {
    background: white;
    padding: 20px;
    border-radius: 5px;
    flex: 1;
}

.shopping-list {
    flex: 2;
}

.summary {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#item-name {
    width: 70%;
    padding: 13px;
    border: 1px solid #ccc;
    border-radius: 5px 0px 0px 5px;
    
}

.product-input {
    display: flex;
    align-items: center;
    width: 114%;
    border: none;
    border-radius: 0;
    outline: none;
}

.item-name-input {
    width: 50%;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

#add-button {
    background: #2285cf;
    color: white;
    border-radius: 0px 5px 5px 0px;
    padding: 14px;
    width: 90px;
}

#item-list {
    list-style-type: none;
    padding: 0;
}

#item-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    background: white;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ccc; 
    gap: 100px;
}

.item-name {
    flex: 2;
}

.item-name.completed {
    text-decoration: line-through;
}

.item-name.input {
    flex: 2;
}

.quantity-control {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.quantity-control button {
    background: #da2828;
    color: white;
    padding: 5px 10px;
    border-radius: 50%;
}

.quantity-control .increase {
    background: #22ba46;
}

.quantity-control .quantity {
    min-width: 20px;
    text-align: center;
}

.status-button {
    background: #f3f3f3;
    color: #646464;
    padding: 5px 10px;
    justify-content: left;
}

.remove-button {
    background: #da2828;
    color: white;
    padding: 5px 10px;
}

.summary h3 {
    margin: 0;
}

.remaining-item, .purchased-item {
    display: flex;
    justify-content: space-between;
    background: #e7e7e8;
    padding: 6px 10px 6px 10px;
    margin-top: 10px;
    border-radius: 5px;
    align-items: center;
    border: 1px solid #e7e7e8; 
    color: #626262;
    font-size: 12px;
    font-weight: bold;
}

.remaining-items {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

#remaining-item-cookies {
    width: 75px;
}

#remaining-item-cheese {
    width: 55px;
}

.purchased-item {
    text-decoration: line-through;
}

#purchased-item-tomatoes {
    width: 90px;
}

.badge, .purchased-badge {
    background: orange;
    border-radius: 50%;
    padding: 5px 10px;
    color: white;
}

.purchased-badge {
    text-decoration: line-through;
}

.badge-container {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #ab00d5;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px 10px 0 0;
    font-size: 16px;
    text-align: left;
    cursor: pointer;
    transition: all 0.3s ease;
}

.badge-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.badge-container:hover {
    height: 70px;
    background-color: #4d01da;
}

.badge-container .sub-text {
    display: none;
}

.badge-container:hover .sub-text {
    display: block;
    font-weight: normal;
    padding-top: 5%;
}

.badge-container:hover .mini-sub-text {
    font-size: 14px;
}

[data-tooltip] {
    position: relative;
    cursor: pointer
}

[data-tooltip]::after {
    content: attr(data-tooltip);
    position: absolute;
    width: max-content;
    background-color: #ae31da;
    color: white;
    text-align: center;
    padding: 5px 10px;
    border-radius: 10px;
    bottom: calc(100% + 5px);
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
}

[data-tooltip]:hover::after {
    opacity: 1;
}