body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.container {
    display: flex;
    gap: 20px;
}

.shopping-list, .summary {
    background: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
}

.shopping-list {
    flex: 2;
}

.summary {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input[id="item-name"] {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#add-button {
    background: #2285cf;
    color: white;
}

#item-list {
    list-style-type: none;
    padding: 0;
}

#item-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    background: white;
    padding: 10px;
    border-radius: 5px;
}

.item-name {
    flex: 2;
    text-decoration: line-through;
}

.item-name.completed {
    text-decoration: line-through;
}

.item-name.input {
    flex: 2;
}

.quantity-control {
    display: flex;
    align-items: center;
    gap: 10px;
}

.quantity-control button {
    background: #da2828;
    color: white;
    padding: 5px 10px;
}